@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    All Technologies<br />
    Salvador, BR 40276-060<br />
    <abbr title="Phone">P:</abbr>
    +55 (71) 99240-0972
</address>

<address>
    <strong>Support:</strong> <a href="mailto:renildo.fagner@gmail.com">renildo.fagner@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:contatorfagner@gmail.com">contatorfagner@gmail.com</a>
</address>
